{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>

                <th>Roles</th>
                <th>Name</th>
                <th>Email</th>
                <th>RegisteredAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
{#            {{ dump(user.roles) }}#}
            <tr>
                <td>{{ user.id }}</td>

                <td>
                    {% if "ROLE_ADMIN" in user.roles %}
                        Admin
                    {% endif %}
                    {% if "ROLE_CREATOR" in user.roles %}
                        Créateur
                    {% endif %}
{#                    {{ user.roles ? user.roles|json_encode : '' }}#}
                </td>
                <td>{{ user.name }}</td>
                <td class="w-auto">{{ user.email }}</td>
                <td>{{ user.registeredAt ? user.registeredAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ path('user_delete', {'id': user.id}) }}" onClick="return (confirm('êtes vous sûr de vouloir supprimer ce user ?'))">Supprimer</a>
{#                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('user_new') }}">Create new</a>#}
{% endblock %}
