{% extends 'base.html.twig' %}

{% block title %}{{ item.title }}{% endblock %}

{% block body %}
    <h1>creation {{ item.id }} : {{ item.title }}</h1>
    <p>{{ item.description | raw }}</p>
    <p>posté le {{ item.createdAt | date('d/m/Y')}}</p>
    <p>par {{ item.user.name }}</p>
    <p>categorie : {{ item.category.label }}</p>
    <img src="{{ asset('uploads/' ~ item.mainPicture) }}" alt="{{ item.title }}">
{% endblock %}
