{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <h1>Item index</h1>

    {# <a href="{{ path('item_new') }}">Create new</a> #}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>CreatedAt</th>
                <th>Description</th>
                <th>Category</th>
                <th>Createur</th>
                <th>MainPicture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.createdAt ? item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ item.description }}</td>
                <td>
                    {% if item.category %}
                        {{ item.category.label }}
                    {% else %}
                        aucune
                    {% endif %}                
                </td>
                <td>{{ item.user.name }}</td>
                <td>
                    {% if item.mainPicture %}
                        <img src="{{ asset('uploads/' ~ item.mainPicture.path ) | imagine_filter('list')}}" alt="{{ item.title }}">
                    {% else %}
                        <img src="{{ asset('images/no_image.png') | imagine_filter('list')}}" alt="{{ item.title }}">
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('item_show', {'id': item.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
